:root {
    --blue: rgb(132, 186, 223);
    --lightblue: rgb(194, 230, 253);
    --dark: rgb(2, 16, 29);
    --light: rgb(168, 209, 247);
    --shadow: rgb(167, 167, 167);
}

body, html{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navigationsbar {
    height: 50px;
    padding: 0 80px;
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: var(--blue)
}

.Navigationspunkt {
    color: white;
}

.Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    z-index: 9999;

}

.Overview {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 9999;
}

.Overview a {
    display: block;
    padding: 0.5rem 1rem;
}

.Navigationspunkt:hover .Overview {
    display: block;
    z-index: 9999;
}

.Overview:hover {
    display: block;
    z-index: 9999;
}




.Image{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    margin: 20px;
    width: 5rem;
    transition: width 2s;
    transition-delay: 1s;
    box-shadow: 5px 5px var(--shadow);
    
    
}

img:hover{
    width: 25rem;
}

h1{
    text-align: center;
    text-transform: uppercase;
}