:root {
    --blue: rgb(132, 186, 223);
    --lightblue: rgb(194, 230, 253);
    --dark: rgb(2, 16, 29);
    --light: rgb(168, 209, 247);
    --shadow: rgb(167, 167, 167);
}

body,
html {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--lightblue);
}

.Navigationsbar {
    height: 50px;
    padding: 0 80px;
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: var(--blue)
}

.Navigationspunkt {
    color: white;
}

.Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    z-index: 9999;

}

.Overview {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 9999;
}

.Overview a {
    display: block;
    padding: 0.5rem 1rem;
}

.Navigationspunkt:hover .Overview {
    display: block;
    z-index: 9999;
}

.Overview:hover {
    display: block;
    z-index: 9999;
}




.Image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hochkant {
    margin: 2em;
    width: 5rem;
    height: 10em;
    transition: width 2s;
    transition-delay: 1s;
    box-shadow: 0.5em 0.5em var(--shadow);
    cursor: pointer;
}

.hochkant-wrapper figcaption{
    font-size: 1em;
}

.hochkant-wrapper{
    font-size: 16px;
    transition: transform 2s;
    transform: scale(0.5);
    transition-delay: 1s;
}

.hochkant-wrapper:hover {
    transform: scale(1);
}

.querformat {
    margin: 2em;
    height: 10em;
    box-shadow: 0.5em 0.5em var(--shadow);
    cursor: pointer;
}

.querformat-wrapper figcaption {
    font-size: 1em;

}

.querformat-wrapper {
    font-size: 16px;
    transition: transform 2s;
    transform: scale(0.5);
    transition-delay: 1s;
}

.querformat-wrapper:hover {
    transform: scale(1);
}



h1 {
    text-align: center;
    text-transform: uppercase;
}



/* .test{
    height: 65vh;
    width: 80vh;
    position: absolute;
    object-fit: cover;
    animation-name: slide-in;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.test:last-child{
    animation-name: slide-in, fade-out;
}

@keyframes slide-in{
    0% {
        transform: translateX(0) rotate3d(1,1,0,0);
    }
    100% {
        transform: translateX(calc(100vw - 100%)) rotate3d(1,1,0,180deg);
    }
}

@keyframes fade-out{
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
} */