body {
  margin: 0;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.Cardswrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card {
  position: relative;
  width: 150px;
  height: 150px;
}

.gelb {
  background-color: yellow;
}

.rot {
  background-color: red;

}

.orange {
  background-color: orange;

}

.blau {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.braun {
  background-color: rgb(66, 0, 0);
}

.lila {
  background-color: purple;
}

.grün {
  background-color: green;
}

button{
  margin: 1rem;
  
}