:root{
  --blue: rgb(132, 186, 223);
  --lightblue: rgb(194, 230, 253);
  --dark: rgb(2, 16, 29);
  --light: rgb(178, 214, 247);

} 

body,
html {
  margin: 0;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light);
}

.dropdown{
  width: 50px;
  position: relative;
  display: inline-block;
  background-color: var(--blue);
  padding: 25px 25px;
  

}

.dropdown-content{
  justify-content: left;
  display: none;
  position: absolute;
  background-color: white;
  padding: 20px;
  z-index: 1;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(4, 150px);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.Cardswrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.Card {
  position: relative;
  width: 150px;
  height: 150px;
}

.gelb {
  background-color: yellow;
}

.rot {
  background-color: red;

}

.orange {
  background-color: orange;

}

.blau {
  background-color: blue;
}

.pink {
  background-color: pink;
}

.braun {
  background-color: rgb(66, 0, 0);
}

.lila {
  background-color: purple;
}

.grün {
  background-color: green;
}

button{
  margin: 15px;
  display: block;

}