.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  img {
    width: 20rem;
    height: 15rem;
  }
  
  .image1 {
    display: flex;
    justify-content: left;
  }

  .text1 {
    font-size: 20px;
    padding: 20px;
  }
