:root {
    --blue: rgb(132, 186, 223);
    --lightblue: rgb(194, 230, 253);
    --dark: rgb(2, 16, 29);
    --light: rgb(168, 209, 247);
}


body,
html {
    margin: 0;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Navigationsbar {
    height: 50px;
    padding: 0 80px;
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: var(--blue)
}

.Navigationspunkt {
    color: white;
}

.Navigation {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 0 1rem;
    z-index: 9999;

}

.Overview {
    background-color: white;
    display: none;
    position: absolute;
    z-index: 9999;
}

.Overview a {
    display: block;
    padding: 0.5rem 1rem;
}

.Navigationspunkt:hover .Overview {
    display: block;
    z-index: 9999;
}

.Overview:hover {
    display: block;
    z-index: 9999;
}

.img1 {
    background-image: url("../img/Altemesse.jpg");
    height: calc(100vh - 50px);
}

.img2 {
    background-image: url("../img/Voelkerschlachtdenkmal.jpg");
    height: 30rem;
}

.img3 {
    background-image: url("../img/bubble.jpg");
    height: 30rem;
}

.img1,
.img2,
.img3 {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.75;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.text {
    color: white;
    font-size: 3rem;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.text .title{
    opacity: 80%;
    background-color: rgb(70, 70, 70);
    color: white;
    padding: 1rem;
}

.Storydark{
    background-color: var(--dark);
    color: white;
    padding: 5px;
    text-align: center;

    
}

.Storylight{
    background-color: var(--light);
    color: var(--dark);
    padding: 5px;
    text-align: center;
}

footer{
    background-color: var(--dark);
    color: var(--blue);
}